<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "batman small.jpg" %>
	</div>

	<div id="content">
		<h1>Hi I'm Joe</h1>
		<p>Welcome to my blog</p>
		<p>I like to rant</p>
		<p>Let me know what you think or have any topics I might have an opinion on.</p>
	</div>
</div>